<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lumino - Dashboard</title>
 <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="google-signin-client_id" content="411218153361-471lpvqtvgrlfe3dd39c5ej3k8lr8301.apps.googleusercontent.com">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" href = "./css/navcss.css" type="text/css"/>
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="./css/bootstrap.css" rel="stylesheet" />
    <!-- FONT-AWESOME STYLE SHEET FOR BEAUTIFUL ICONS -->
    <link href="./css/font-awesome.css" rel="stylesheet" />
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style_widget.css" rel="stylesheet" />
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<style>
	html {
		width: 100%;
		height: 100%;
		clip: auto;
		position: absolute;
		overflow-x: hidden;
	}

	#sidebar-collapse{
		opacity: 0.6;	
	}
	#widget_menu{
		opacity: 0.6;		
	}
	/*.parent {
	        overflow: hidden;
	        position: relative;
	       
	}
	.child-right {
	    height: 100%;
	    position: absolute;
	    right: 0;
	    top: 0;
	}*/
	.right-pane{
		/*height:382px;
		overflow:scroll;*/
		height:477px;
		position: relative;
		bottom: 0px;
		right: 0px;
		z-index: 1000;
		display: block;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #FFF;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.05);
	}
	
</style>

<!--Icons-->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="./js/lumino.glyphs.js"></script>
<script> 
	
	function display_cat(category)
	{
		alert(category);	
	}
</script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(showCurrentLocation);
            }
            else
            {
               alert("Geolocation API not supported.");
            }

            function showCurrentLocation(position)
            {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var coords = new google.maps.LatLng(latitude, longitude);

                var mapOptions = {
                zoom: 15,
                center: coords,
                mapTypeControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //create the map, and place it in the HTML map div
            map = new google.maps.Map(
            document.getElementById("mapPlaceholder"), mapOptions
            );

            //place the initial marker
            var marker = new google.maps.Marker({
            position: coords,
            map: map,
            title: "Current location!"
            });
            }
</script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body style= "background:none;">
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signupNext">Profile</a></li>
        <li><a href="/post">Post</a></li>
        <li class="active"><a href="#">Categories</a></li>
        <li><a href="/history">History</a></li>
                 <li class="dropdown">
         {% set count = 0 %}
         {% for i in values['Notifications'] %}
         {% set count = count + 1 %}
         {% endfor %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications<span class="badge">{{count}}</span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
               <table>
  <thead>
    <tr>
      <th colspan="3">Notifications</th>
    </tr>
    <tr>
      <th>#</th>
      <th colspan="2">Requests</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for post in values['Notifications'] %}

{% set count_j = 0 %}
	{% for j in post.possible_receiver %}
  	{{ count_j }}
 	 {% set count_j = count_j + 1 %}
	{% endfor %}
      <td>{{post.item_name}} <span class="badge">{{count_j}}</span></td>
      
      <td>
        <i class="fa fa-pencil button alterar"><a href="/itempage?item_key={{post.key.urlsafe()}}" /></i>
        <i class="fa fa-trash button excluir"></i>
      </td>
    </tr>
    {% endfor %}
 
    
  </tbody>
</table>
               </div>
    
  </div>

  </li>
  </ul>
        <li><a href="/logout">Sign out</a></li>
      </ul></div>
    </nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar parent">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active item_cat" style="background:#fff"><a href="#" style="pointer-events: none; cursor: default;><svg class="glyph stroked dashboard-dial" onclick="display_cat()"><use xlink:href="#stroked-dashboard-dial"></use></svg> Categories</a></li> 
			<li class="item_cat" onclick="abc()"><a href="#" class="item_cat" onclick="display_cat('All')"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg><font color="0000FF"> All</font></a></li>
			<li class="item_cat"><a href="#" onclick="display_cat('Food')"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Food</a></li>
			<li class="item_cat"><a href="#" onclick="display_cat('Books')"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Books</a></li>
			<li class="item_cat"><a href="#" onclick="display_cat('Clothing')"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Clothing</a></li>
			<li class="item_cat"><a href="#" onclick="display_cat('Newspapers')"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Newspapers</a></li>
			<li class="item_cat"><a href="#" onclick="display_cat('Furnitures')"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Furnitures</a></li>
			<li class="item_cat"><a href="#" onclick="display_cat('Household')"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Household</a></li>
			<li class="item_cat"><a href="#" onclick="display_cat('Electronics')"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Electronics</a></li>
			<li class="item_cat"><a href="#" onclick="display_cat('Others')"0><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Others</a></li>
		</ul>

	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb" style="opacity:0">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<!--<li class="active">Icons</li>-->
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">Map - Showing all events of selected category</div>
					<div class="panel-body">
						<div class="canvas-wrapper child-right" id="mapPlaceholder" style="width:100%;height:381px;>
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 right-pane">
				<div class="panel-heading">Events</div>
				<div class="row list-group">
               		       		<!--<a href="#" class="list-group-item active">
   				       	  <h4 class="list-group-item-heading">List group item heading</h4>
  				       	  <p class="list-group-item-text">some content from db</p>
 				        </a>-->
 				        {% for val in values['posts'] %}					
						<a href="/itempage?item_key={{val.key.urlsafe()}}&user_email={{values['user_email']}}" class="list-group-item">
	   				       	  <h4 class="list-group-item-heading">{{val.Category}}</h4>
	  				       	  <p class="list-group-item-text">{{val.item_name}}</p>
	 				        </a>
	 				    {% endfor %}
					
				</div>
			</div>
		</div><!--/.row-->
		
	

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
