<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id" content="411218153361-471lpvqtvgrlfe3dd39c5ej3k8lr8301.apps.googleusercontent.com">
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel = "stylesheet" href = "./css/navcss.css" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'> 
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
</style>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTDXZw4TvfKogqUxSveg6w8098V-jUKBg&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>

<body style= "background:none;">
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signupNext?user_email={{values['user_email']}}">Profile</a></li>
        <li><a href="/post?user_email={{values['user_email']}}">Post</a></li>
        <li><a href="/Category?user_email={{values['user_email']}}">Categories</a></li>
        <li class="active"><a href ="#">History</a></li>
                 <li class="dropdown">
         {% set count = 0 %}
         {% for i in values['Notifications'] %}
         {% set count = count + 1 %}
         {% endfor %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications<span class="badge">{{count}}</span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
               <table>
  <thead>
    <tr>
      <th colspan="3">Notifications</th>
    </tr>
    <tr>
      <th>#</th>
      <th colspan="2">Requests</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for post in values['Notifications'] %}

{% set count_j = 0 %}
  {% for j in post.possible_receiver %}
    {{ count_j }}
   {% set count_j = count_j + 1 %}
  {% endfor %}
      <td>{{post.item_name}} <span class="badge">{{count_j}}</span></td>
      
      <td>
        <i class="fa fa-pencil button alterar"></i>
        <i class="fa fa-trash button excluir"></i>
      </td>
    </tr>
    {% endfor %}
 
    
  </tbody>
</table>
               </div>
    
  </div>

  </li>
  </ul>
        <li><a href="/logout">Sign out</a></li>
      </ul></div>
    </nav>


  <div class="container" style = "width:100%;">
    <div class="row" style = "width:100%;">
    <!--  <div class="col-md-6">-->
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#userpost1" aria-controls="userpost1" role="tab" data-toggle="tab">Successful Posts</a></li>
            <li role="presentation"><a href="#userpost2" aria-controls="userpost2" role="tab" data-toggle="tab">Pending Posts</a></li>
            <li role="presentation"><a href="#usertake" aria-controls="usertake" role="tab" data-toggle="tab">Requests</a></li>
          </ul>
<!-- Tab panes -->
          <div class="tab-content" style ="margin-top: 10px;">
            <div role="tabpanel" class="tab-pane active" id="userpost1">
              <table  border="1" class="table table-hover" style="position:relative; left:10px;">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Address</th>
                    <th>Posted On </th>
                    <th>Image</th>
                    <th>Reciever</th>
                  </tr>
                </thead>
                {% for post in values['posts_rec'] %}
                <tr>
                  <td>{{post.item_name}}</td>
                  <td>{{post.Category}}</td>
                  <td>{{post.item_location}}</td>
                  <td>{{post.date}}</td>
                  <td><image src="image?img_id={{post.key.urlsafe()}}"> </td>
                  <td>{{post.receiver_id}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="userpost2">
              <table  border="1" class="table table-hover"style="position:relative; left:10px;">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Address</th>
                    <th>Posted On </th>
                    <th>Image</th>
                  </tr>
                </thead>
                {% for post in values['posts'] %}
                <tr>
                  <td>{{post.item_name}}</td>
                  <td>{{post.Category}}</td>
                  <td>{{post.item_location}}</td>
                  <td>{{post.date}}</td>
                  <td><image src="image?img_id={{post.key.urlsafe()}}"> </td>
                </tr>
                {% endfor %}
              </table></div>
            <div role="tabpanel" class="tab-pane" id="usertake">              
              <table  border="1" class="table table-hover"  style="position:relative; left:10px;">
                <thead>
                  <tr>
                    <th>Sender</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Address</th>
                    <th>Posted On </th>
                    <th>Image</th>
                  </tr>
                </thead>
                {% for post in values['takes'] %}
                <tr>
                  <td>{{post.sender_id}}</td>
                  <td>{{post.item_name}}</td>
                  <td>{{post.Category}}</td>
                  <td>{{post.item_location}}</td>
                  <td>{{post.date}}</td>
                  <td><image src="image?img_id={{post.key.urlsafe()}}"> </td>
                </tr>
                {% endfor %}
              </table></div>
          </div>
       <!-- </div>-->
      </div>
    </div>
  </div>

   

  </body>
</html>


